*.swp
*~
.ICEauthority
.Skype/
.VirtualBox/
.adobe/
.android/
.bash_history
.bash_logout
.cache/
.config/Empathy/
.config/Trolltech.conf
.config/VirtualBox/
.config/autostart/
.config/brasero/
.config/dconf/
.config/deluge/
.config/dleyna-renderer-service.conf
.config/dleyna-server-service.conf
.config/enchant/
.config/epiphany/
.config/evince/
.config/evolution/
.config/gconf/
.config/gedit/
.config/ghb/
.config/gnome-control-center/
.config/goa-1.0/
.config/google*
.config/gtk-*
.config/ibus/
.config/meat/
.config/menus/
.config/monitors.xml
.config/nautilus/
.config/pulse/
.config/rygel.conf
.config/totem/
.config/user-dirs.dirs
.dbus/
.dvdcss/
.esd_auth
.freerdp/
.gimp*
.gksu.lock
.gnome/
.gnome2/
.gnupg/
.gstreamer-0.10/
.gtickrc
.ipython/
.iscan_preference
.lesshst
.local/
.macromedia/
.mozilla/
.mplayer/
.pki/
.remmina/
.repoconfig/
.repopickle_.gitconfig
.sqlite_history
.ssh/
.subversion/README.txt
.subversion/servers
.thumbnails/
.vim/.netrwhist
.viminfo
Desktop/
Documents/
Downloads/
Music
PDF/
Pictures
Videos
VirtualBox VMs/
bin/
git/
