[user]
    name = Michael Stegeman
    email = michael@stegeman.me
    signingKey = C1B2DF99809504447B2C7209FEDD596D296F7400
[color]
    diff = true
    branch = true
    status = true
[diff]
    external = git_diff_wrapper
[pager]
    diff =
[core]
    editor = vim
    pager = less
[merge]
    tool = vimdiff
[push]
    default = simple
[commit]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
