*.swp
*~
.ICEauthority
.Skype/
.VirtualBox/
.adobe/
.android/
.audacity-data/
.bash_extra
.bash_history
.bash_logout
.cache/
.config/Empathy/
.config/Trolltech.conf
.config/autostart/
.config/brasero/
.config/dconf/
.config/deluge/
.config/enchant/
.config/epiphany/
.config/evince/
.config/evolution/
.config/gconf/
.config/gedit/
.config/ghb/
.config/gnome-control-center/
.config/goa-1.0/
.config/google*
.config/gtk-*
.config/ibus/
.config/meat/
.config/menus/
.config/monitors.xml
.config/nautilus/
.config/pulse/
.config/spotify/
.config/totem/
.config/user-dirs.dirs
.dvdcss/
.esd_auth
.freerdp/
.gimp*
.gksu.lock
.gnome/
.gnupg/
.gstreamer-0.10/
.icedtea/
.iscan_preference
.java/
.lesshst
.local/
.macromedia/
.mozilla/
.pki/
.remmina/
.repoconfig/
.repopickle_.gitconfig
.ssh/
.subversion/README.txt
.subversion/servers
.thumbnails/
.vim/.netrwhist
.viminfo
Desktop/
Documents/
Downloads/
Music/
PDF/
Pictures/
VirtualBox VMs/
bin/
chromiumos/
git/
