[user]
    name = Mike Stegeman
	email = mstegema@qti.qualcomm.com
[color]
    diff = true
    branch = true
    status = true
[diff]
    external = git_diff_wrapper
[pager]
    diff =
[core]
    editor = vim
    pager = less
[merge]
    tool = vimdiff
[push]
	#default = simple
