**/.DS_Store
*.swp
*~
.AndroidStudio*/
.CFUserTextEncoding
.ICEauthority
.Skype/
.Trash/
.VirtualBox/
.Xauthority
.adobe/
.android/
.atom/.apm/
.atom/.npm/
.atom/atom-shell/
.atom/compile-cache/
.atom/electron/
.atom/nohup.out
.atom/storage/
.bash_extra
.bash_history
.bash_logout
.bash_sessions/
.bzr.log
.cache/
.cargo/
.ccache/
.compiz/
.config/.mono/
.config/Atom/
.config/Empathy/
.config/KeePass/
.config/Keybase/
.config/QtProject.conf
.config/Trolltech.conf
.config/Vidyo/
.config/VirtualBox/
.config/anjuta/
.config/autostart/
.config/brasero/
.config/chromium/
.config/compiz-1/
.config/configstore/
.config/dconf/
.config/deluge/
.config/dleyna-renderer-service.conf
.config/dleyna-server-service.conf
.config/enchant/
.config/eog/
.config/epiphany/
.config/evince/
.config/evolution/
.config/freshwrapper-data/
.config/gconf/
.config/gedit/
.config/ghb/
.config/gnome-builder/
.config/gnome-control-center/
.config/goa-1.0/
.config/goobox/
.config/google*
.config/gtk-*
.config/ibus/
.config/inkscape/
.config/karabiner/
.config/keybase/
.config/libaccounts-glib/
.config/libvirt/
.config/meat/
.config/menus/
.config/mimeapps.list
.config/monitors-v1-backup.xml
.config/monitors.xml
.config/nautilus/
.config/pulse/
.config/rygel.conf
.config/skypeforlinux/
.config/spotify/
.config/systemd/
.config/totem/
.config/unity/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vlc/
.config/wireshark/
.config/yarn/
.cshrc
.cups/
.dbus/
.dmrc
.docker/
.dvdcss/
.emulator_console_auth_token
.esd_auth
.freerdp/
.gconf/
.gimp*
.gksu.lock
.gnome/
.gnome2/
.gnupg/
.gradle/
.gstreamer-0.10/
.gtickrc
.ipython/
.iscan_preference
.java/
.lastpass/
.lesshst
.local/
.macromedia/
.mono/
.mozilla/
.mplayer/
.multirust
.node-gyp/
.npm/
.nv/
.openvpn/
.parallel/
.pki/
.pylint.d/
.python-eggs/
.recently-used
.remmina/
.repo_.gitconfig.json
.repoconfig/
.repopickle_.gitconfig
.rnd
.rustup/
.snapshot/
.sqlite_history
.ssh/
.subversion/README.txt
.subversion/servers
.thumbnails/
.thunderbird/
.vas*
.vidyo/
.vim/.netrwhist
.vim/autoload/plug.vim
.vim/plugged/*/
.viminfo
.vscode/
.wget-hsts
.xsel.log
.xsession-errors
.xsession-errors.old
.yarnrc
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
Videos/
VirtualBox VMs/
bin/
git/
mozilla-iot/
node_modules/
package-lock.json
skypeforlinux/
workspace/
